@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");

body {
  margin: 0;
  font-family: "Anton", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #113dff;
  color: #0f0f0f;
  font-size: 32px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
